nav a{
    background-color: cyan;
    color: blue;
    border-radius: 7px;
    border-style: double;
    padding: 10px 10px 10px 10px;
    display: flex;
}
header + main{
    background-color: rgb(9, 71, 71);
    color: rgb(239, 239, 244);
    border-radius: 7px;
    border-style: double;
    padding: 10px 10px 10px 10px;
}