body *{
    background-color: blueviolet;
    background-color: blanchedalmond;
    color: brown;
    color: blue;
    border-radius: 5px;
    border-style:groove;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 10px;
    margin: 10px;
}
article > p{
    background-color: blueviolet;
    background-color: blanchedalmond;
    color: brown;
    border-radius: 5px;
    border-style:groove;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 10px;
    margin: 10px;
}