h1{
    background-color: bisque;
    color: brown;
    border-radius: 5px;
    border-style: dotted;
    text-align: center;
    padding: 10px 20px 10px 40px;
}
p{
    background-color: bisque;
    color: brown;
    border-radius: 5px;
    border-style: dotted;
    text-align: center;
    padding: 10px 20px 10px 40px;

}